.sign-in-and-sign-up {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 30px auto;

  .tab {
    display: flex;
    position: absolute;
    cursor: pointer;
    
    span {
      font-size: 1.2em;
      opacity: 0.5;
      font-weight: 600;
    }

    .active {
      opacity: 1;
      font-weight: 700;
    }
  }
  

  .container {
    margin-top: 24px;
  }

  @media screen and (max-width: 767px){
    .container {
      width: 100%;
    }
    .sign-in, .sign-up {
      width: 100%;
    }

    .custom-button {
      padding: 0 12px;
    }
  }
}

